# node_modules
node_modules/

# env 파일 (중요🔥)
.env
.env.local
.env.*.local
.env.performance

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS 파일
.DS_Store
Thumbs.db

# build 결과물
dist/
build/

# coverage
coverage/

# IDE / Editor
.vscode/
.idea/

# macOS
.AppleDouble
.LSOverride

# 기타
*.swp
/src/generated/prisma
